{$ROOT_DOMAIN}, {$FRONTEND_DOMAIN} {
	encode zstd gzip
	root * /srv/frontend
	try_files {path} /index.html
	file_server
}

{$API_DOMAIN} {
	encode zstd gzip

	handle_path /static/* {
		root * /srv/backend-static
		file_server
	}

	reverse_proxy backend:8000
}

{$RTC_DOMAIN} {
    encode zstd gzip
    reverse_proxy livekit:7880
}